@import 'reset.css';

* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

#container {
	width: 100%;
	background: #ccc;
}

.header {
	display: flex;
	flex-direction: column;
	height: 76px;
	overflow: hidden;
	position: relative;
	transition: height 1s ease;
}

.header.verMenu {
	height: 120px;
}

.header__title,
.header__subtitle {
	margin: 0 0 .5rem;
}

.header__menu {
	display: flex;
	justify-content: space-evenly;
	/* flex-direction: column; */
	opacity: 0;
	transition: opacity .5s ease .5s;
}

.header__menu.header__menu--opacity {
	opacity: 1;
}

.menu__btn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	border: 1px solid #000;
	padding: .5rem;
	cursor: pointer;
}

.header__menu a {
	color: darkslategray;
	font-size: 1.2rem;
	transition: all .5s ease;
	text-align: center;
	width: 100%;
	padding: .5rem 0;
}

.header__menu a:hover {
	font-weight: bold;
	background-color: azure;
	color: gray;
}

#home {
	min-height: 100vh;
	background-color: beige;
}

#tecnologia {
	min-height: 100vh;
	background-color: burlywood;
}

#contacto {
	min-height: 100vh;
	background-color: darkturquoise;
}

.perfil__figure {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	max-width: 220px;
	margin: 0 auto;
}

.perfil__figure figcaption {
	background-color: azure;
	top: -10%;
	left: calc(50% - 110px);
	width: 220px;
	height: 20px;
	text-align: center;
	font-size: .8rem;
	position: absolute;
	border: 1px solid green;
	opacity: 0;
	transition: opacity 3s ease, top 1s ease;
}

.perfil__figure:hover figcaption {
	opacity: 1;
	top: calc(50% - 10px);
}

.perfil__figure img {
	width: 100%;
}