@import 'reset.css';

* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
	width: 100%;
	background: #ccc;
}

.header {
	display: flex;
	flex-direction: column;
	height: 76px;
	overflow: hidden;
	position: relative;
	transition: height 1s ease;
}

.header.verMenu {
	height: 120px;
}

.header__title,
.header__subtitle {
	margin: 0 0 .5rem;
}

.header__menu {
	display: flex;
	justify-content: space-evenly;
	/* flex-direction: column; */
	opacity: 0;
	transition: opacity .5s ease .5s;
}

.header__menu.header__menu--opacity {
	opacity: 1;
}

.menu__btn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	border: 1px solid #000;
	padding: .5rem;
	cursor: pointer;
}

.header__menu a {
	color: darkslategray;
	font-size: 1.2rem;
	transition: all .5s ease;
	text-align: center;
	width: 100%;
	padding: .5rem 0;
}

.header__menu a:hover {
	font-weight: bold;
	background-color: azure;
	color: gray;
}