@import "reset.css";
/*colores*/
/* HSL */
$color1: hsla(5%, 100%, 90%, 1);
$color2: hsla(42%, 84%, 83%, 1);
$color3: hsla(152%, 100%, 90%, 1);
$color4: hsla(207%, 68%, 84%, 1);
$color5: hsla(240%, 42%, 89%, 1);

/* RGB */
$color1: rgba(255, 206, 202, 1);
$color2: rgba(248, 225, 173, 1);
$color3: rgba(205, 255, 232, 1);
$color4: rgba(186, 217, 242, 1);
$color5: rgba(216, 216, 239, 1);

$colorNegro:black;
$colorGris: hsla(52%, 7%, 41%, 1);
$colorGris: rgba(111, 109, 96, 1);
$colorBlanco:#fff;


* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	color: $colorGris;
}

html {
	scroll-behavior: smooth;
}

#container {
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	height: 76px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	transition: height 1s ease;
	grid-area: hea;
	color: $colorGris;
	background-color: $colorBlanco;
	&.verMenu {
		height: 120px;
	}
}

.header__title,
.header__subtitle {
	margin: 0 0 0.5rem;
}

.header__menu {
	display: flex;
	justify-content: space-evenly;
	/* flex-direction: column; */
	opacity: 0;
	transition: opacity 0.5s ease 0.5s;

	&.header__menu--opacity {
		opacity: 1;
	}

	a {
		color: $colorNegro;
		font-size: 1.2rem;
		transition: all 0.5s ease;
		text-align: center;
		width: 100%;
		padding: 0.5rem 0;

		&:hover {
			font-weight: bold;
			background-color: $color5;
			color: $colorGris;
		}
	}
}

.menu__btn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	border: 1px solid $colorNegro;
	padding: 0.5rem;
	cursor: pointer;
}

article {
	min-height: 100vh;
	padding: 0.8rem;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding: 0.6rem 0 1rem;
	}
}
h3{text-align: center;}

#home {
	background-color: $color2;
	grid-area: hom;
	color: $colorGris;
}

#formacion {
	grid-area: for;
	background-color: $color3;
	color: $colorGris;
}

#experiencia {
	grid-area: exp;
	background-color: $color4;
	color: $colorGris;
}

#extras {
	grid-area: ext;
	background-color: $color5;
	color: $colorGris;
}

#contacto {
	grid-area: con;
	background-color: $color3;
}

.perfil__figure {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	max-width: 220px;
	margin: 0 auto;

	figcaption {
		vertical-align: middle;
		/*top: -10%;*/
		/*left: calc(50% - 110px);border: 1px solid $color4;*/
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		display: grid;
		justify-content: center;
		justify-items: center;
		align-content: center;
		align-items: center;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
		top: 100%;
		transition: opacity 1s ease, top 1s ease;

		a {
			display: inline-block;
			z-index: 1;
			img {
				vertical-align: middle;
			}
			&:hover img{
				width: 105%;
			}
		}
		&::before{
			content: " ";
			opacity: 0.5;
			z-index: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $color5;
		}
	}

	&:hover figcaption {
		position: absolute;
		top: 0%;
	}

	img {
		width: 100%;
	}
}

/*formulario*/
input,
textarea {
	margin-bottom: 1rem;
	background: $colorBlanco;
	border: 1px solid $color4;
	width: 100%;
	padding: 0.7em;
	margin-bottom: 0.5rem;

	&:focus {
		outline: 3px solid $color1;
	}
}

button {
	background: $color4;
	padding: 0.7em;
	border: 0;
	width: 100%;
	font-weight: bold;
	&:hover {
		background: $color1;
	}
}

label {
	text-align: right;
	display: block;
	padding: 0.5em 1.5em 0.5em 0;
}

#experiencia div:hover,
#extras div:hover,
#formacion div:hover {
	//border: 1px solid red;
	font-size: 1.7rem;
	border: 1px solid $color4;
}

@media (min-width:1024px) {
	#container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;
		grid-template-areas: "hea hea""hom for""exp exp""ext con";

	}

	#experiencia div,
	#extras div,
	#formacion div {
		display: grid;
		grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
		grid-auto-flow: row;

		//grid-template-rows: 1fr 1fr 1fr 1fr;
		//grid-template-areas: "p0 p0""p1 p2""p3 p3""p4 p5";
		h3,
		h4 {
			grid-column: 1/6;
		}

		p {
			grid-column: 2/6;
		}
	}
}